<!DOCTYPE html>
<html>
    <head>
        <title>
            Counter
        </title>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    </head>
    <body>
        <h1>0</h1>
        <div id ="buttons">

        </div>
        <script type="text/babel">
            function Button1(props){
                return(
                    
                    <button>{props.value}</button>
                );
            }
            
            
            ReactDOM.render(
                <React.Fragment>
                <Button1 value = '+' />
                <Button1 value = '-' />
                </React.Fragment>, 
                document.querySelector('#buttons')
        );
        </script>
    </body>
</html>